{% extends "base.html"%}
{% load static %}
{% block myblock %}

<div class="row">
    <div class="col-md-12 px-0">
        <img src="{% static 'images/nature.jpg'%}" height="300">
    </div>
    <div class="col-md-12">
        <h1>THIS IS ABOUT PAGE</h1>
<P>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis placeat tempora quidem labore rem eligendi reiciendis doloremque non veritatis dolor aspernatur, cupiditate molestiae incidunt facilis aperiam voluptatem quod, magnam doloribus!
</P>
        </div>
        
    </div>
</div>
{% endblock %}