{% extends "base.html"%}
{% load static %}
{% block myblock %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-12 bg-primary text-center py-5 text-light">
        <h1>THIS IS CONTACT PAGE</h1>

    </div>


    
     <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.19486376692!2d76.57366501513233!3d30.76910988162444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ffb140bd63e07%3A0x68591e334d17a988!2sChandigarh%20University!5e0!3m2!1sen!2sin!4v1585812845406!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    

   
    <div class="col-md-6">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Your Name</label>
                <input type="text" class="form-control" name="name" placeholder="Enter Name...">
            </div>
            <div class="form-group">
                <label>Contact Number</label>
                <input type="text" class="form-control" name= "contact"placeholder="Enter Contact Number...">
            </div>
            <div class="form-group">
                <label>Subject</label>
                <input type="text" class="form-control" name="subject" placeholder="Enter Subject...">
            </div>
            <div class="form-group">
                <label>Message</label> 
                <textarea class="form-control" rows="5" name="message"></textarea>
                
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Send Message">

            </div>
        </form>
    </div>
    
    
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Previous Feedbacks</h2>
        <h4 class="text-center"><em>Total: {{messages|length}}</em></h4>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Date</th>

                    
                </tr>
            </thead>
            <tbody> 
                {% for msg in messages %} 
                <tr>
                    <td>{{msg.id}}</td>
                    <td>{{msg.name}}</td>
                    <td>{{msg.contact_number}}</td>
                    <td>{{msg.subject}}</td>
                    <td>{{msg.message}}</td>
                    <td>{{msg.added_on}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

</div>
{% if status %}
<script>
    alert("{{status}}");
</script>}
{% endif %}
{% endblock%}