{% extends "dashboard_base.html" %}
{% load static %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="background: url('static/images/cover.jpg'); height: 150px; background-size: 100% 100%;">
            <h1 style="color: white; text-align:center;margin-top: 45px;">Dashboard &gt; Edit Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 bg-light mx-auto">
            <div class="text-center">
                {% if data.profile_pic %}
             <img src="/media/{{data.profile_pic}}" style="height: 150px;width: 150px;border-radius:50%">
             {% else %}
             <img src="{% static 'images/user.png'%}" style="height: 150px;width: 150px;border-radius:50%">

             {% endif %}
            </div>
            {% if status %}
            <div class="alert alert-primary">{{status}}</div>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            

             
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" class="form-control" value="{{user.first_name}}" placeholder="Enter first name" name="fname">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" class="form-control" value="{{user.last_name}}" placeholder="Enter last name" name="lname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ="form-control" value="{{user.email}}" placeholder="Enter email" name="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Profile picture</label>
                        <input type="file" class="form-control" name="images">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Contact number</label>
                        <input type="number" name="contact" pattern="[0-9]{10}" class="form-control" placeholder="Enter contact number" value="{{data.contact_number}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Age</label>
                        <input type="number" name="age" value="{{data.age}}" placeholder="Enter age" class="form-control" min="18" max="70">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" value="{{data.city}}" placeholder="Enter City" class="form-control" name="city">
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Gender</label>
                        <select name="gender" class="form-control" value="{{data.gender}}">
                            <option value="male">Male</option>
                            {% if data.gender == "Female" %}
                            <option value="female" selected>Female</option>
                            
                            {% else %}
                            <option value="female">Female</option>

                            {% endif %}

                            {% if data.gender == "Others" %}
                            <option value="Others" selected>Others</option>
                            {% else %}
                            <option value="Others">Others</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Occupation</label>
                    <input type="text" value="{{data.occupation}}" placeholder="Enter occupation" class="form-control" name="occupation">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>About You</label>
                    <textarea name="about" class="form-control" rows="3">{{data.about}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-success" name="btn">
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}