{% extends 'base.html' %}
{% load static %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto p-2 text-center" style="box-shadow: 0px 0px 10px gray;">
           <img src="{% static 'images/failed.gif' %}"  height="200" width="200">
           <br>
           <h1 class="alert alert-danger">PAYMENT FAILED </h1>
           <div class="my-1">
               <a href="{% url 'cart' %}" class="btn btn-success">Continue Shopping</a>
               <a href="{% url 'cust_dashboard' %}" class="btn btn-primary">Go To Dashboard</a>


           </div>

        </div>

    </div>

</div>
{% endblock%}