{% extends "base.html" %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Seller Dashboard</h2>
            <h1>Welcome {{user.first_name}} {{user.last_name}}</h1>
            
        </div>
    </div>
</div>
{% endblock %}