{% extends "base.html" %}
{% load static %}
{% block head %}
<style>
    th{
    width:30%;
    }
</style>



{% endblock %}
{% block myblock %}
<div class="container-fluid" style="background:url('/static/images/background img.jpg'); background-size:100% 100%;">
    <div class="row py-5" style="background:rgba(0,0,0,0.5)">
        <div class="col-md-12 py-5 my-5 text-light text-center font-weight-bold text-uppercase">
            <h1>Product Details</h1>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="row py-4">
        <div class="col-md-8">
            <div class="text-center py-4">
                <img src="/media/{{product.product_image}}" alt="No Image" style="height: 300px;width:80%;">
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <th>PRODUCT_ID</th>
                        <td>{{product.id}}</td>
                    </tr>
                    <tr>
                        <th>PRODUCT_NAME</th>
                        <td>{{product.product_name}}</td>
                    </tr>
                    <tr>
                        <th>Market Price</th>
                        <td><del>&#8377;{{product.product_price}}</del></td>
                    </tr>
                    <tr>
                        <th>Offered Price</th>
                        <td>&#8377;{{product.sale_price}}
                            <script>
                                let t = "{{product.product_price}}";
                                let s = "{{product.sale_price}}"
                                let dis = 100-(s/t)*100;
                                document.write("<strong class='text-danger'>("+Math.round(dis,2)+"%)</strong>")
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <th>Product Description</th>
                        <td>&#8377;{{product.details}}</td>
                    </tr>
                </tbody>
            </table>

            

            
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Seller Details</h4>

                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>First name</th>
                            <td>{{product.seller.first_name}}</td>

                        </tr>
                        <tr>
                            <th>Last name</th>
                            <td>{{product.seller.last_name}}</td>

                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{product.seller.email}}</td>

                        </tr>
                        <tr>
                            <th>Member Since:</th>
                            <td>{{product.seller.date_joined}}</td>

                        </tr>
                    </table>
                    

                </div>
            </div>
            <h4 class="alert alert-secondary">Category Details</h4>
            <table class="table">
                <tr>
                    <th>Category ID</th>
                    <td>{{product.product_category.id}}</td>
                </tr>
                <tr>
                    <th>Category Name</th>
                    <td>{{product.product_category.cat_name}}</td>
                </tr>
                <tr>
                    <th>Category Image</th>
                    <td>
                        <img src="/media/{{product.product_category.cover_pic}}" style="width:200px;height:150px;">
                    </td>
                </tr>
                <tr>
                    <th>Category Description</th>
                    <td>{{product.product_category.description}}</td>
                </tr>
                
                
                


            </table>

        </div>
    </div>

</div>




{% endblock %}