{% extends "dashboard_base.html" %}
{% block head %}
<style>
    form.row{
        margin-top: 2%;
    }
</style>
{% endblock %}
{% load static %}
{% block dashboard %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
            <div class="card-header">
                <h3>DASHBOARD &gt; EDIT PRODUCT</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                       <div class="text-center">
                        <img src="/media/{{product.product_image}}" style="height: 200px; width: 40%;">
                       </div>
                        <label class="mt-3">Update Image: </label>
                        <input type="file" class="form-control" name="pimg">

                    </div>
                    <div class="col-md-6">
                        <label for="">Product Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="pname" value="{{product.product_name}}">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Product Category</label>
                    </div>
                    <div class="col-md-6">
                        <select name="pcat" id="" class="form-control">
                        {% for i in category %}
                            
                            {% if i.id == product.product_category.id %}
                            <option value="{{i.id}}" selected>{{i.cat_name}}</option>

                            {% else %}
                            
                            <option value="{{i.id}}">{{i.cat_name}}</option>
                            {% endif %}

                        {% endfor %}

                        </select>
                       
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Product Price</label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" name="pp" class="form-control" value="{{product.product_price}}">
                        
                       
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Sale Price</label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" name="sp" class="form-control" value="{{product.sale_price}}">
                        
                       
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Details</label>
                    </div>
                    <div class="col-md-6">
                        <textarea name="des" class= "form-control" rows="5">
                            {{product.details}}
                        </textarea>
                        
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-warning" value="SAVE CHANGES">
                    </div>
                  
                </div>

            </form>
        </div>

            </div>
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
</script>

    {% endif %}
{% endblock %}